{{!-- {{#if createWorkout}}
<div class="row mt-4">
  <div class="col-md-6">
    <form class="workout">
     <div class="form-group">
        <label for="muscle-group">Choose a Muscle Group:</label>
        <select class="form-select" id="muscle-group" name="muscle-group">
          {{#each muscleGroup as |muscle|}}
            <option value={{muscle.id}}>{{muscle.name}}</option>
          {{/each}}
        </select>
      </div>
    </form>
  </div>
</div>
{{/if}} --}}
<h1>welcome to creating your workout select muscle-group</h1>
<div>
  {{#each muscleGroup as |muscle|}}
  <div>
  <input type="checkbox" id={{muscle.id}} value={{muscle.id}}>
  <label for={{muscle.id}}>
    {{muscle.name}}
  </label>
  </div>
  {{/each}}
  <button type="submit" id="muscleGroup">muscle selected</button>
</div>
<script src="./js/muscleGroup.js"></script>