<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{gif}}}</p>
  <p>{{equipment}}</p>
  <p>{{instructions}}</p>
  <p>best workout for {{user.name}} on {{format_date date_created}}</p>
  <p>
    <span for="img" aria-label="Get That Gain">💪</span>
    <span class="muscle-group">{{exercise}}</span>
  </p>
  <p>
    <button class="btn btn-primary">add this exercise!💪</button>
  </p>
</div>


  {{#if selectedExercise}}
  <div class="col-md-6">
    <h3>Selected Exercise:</h3>
    <div class="card">
      <div class="card-body">
        <h4>{{selectedExercise.name}}</h4>
        <p>{{selectedExercise.gif}}</p>
        <p>{{selectedExercise.equipment}}</p>
        <p>{{selectedExercise.instructions}}</p>
        <p>Muscle Group: <span class="badge bg-primary">{{selectedExercise.muscleGroup}}</span></p>
        <button class="btn btn-primary add-exercise-btn">Add Exercise</button>
      </div>
    </div>
  </div>
  {{/if}}