<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{user.name}}!</h2>
    <h2>Stats: {{user.gender}}, {{user.age}}, Height:{{user.height}}, Weight:{{user.weight}} lbs</h2>
    
  </div>
</div>

<div>
  <h3>Current Workouts:</h3>
  <div id="workouts">
    {{#each user.workouts as |workout|}}
      <div id={{workout.id}}>
        {{workout.name}}
      </div>
    {{/each}}
  </div>
</div>

      <button type="submit" id="newWorkout" class="btn btn-primary">Create Workout</button>

<script src="./js/user.js"></script>