<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{user.name}}!</h2>
    <h2>Stats: {{user.gender}}, {{user.age}}, Height:{{user.height}}, Weight:{{user.weight}} lbs</h2>
    
  </div>
</div>

<div>
  <h3>Current Workouts:</h3>
  <div>
    {{#each user.workouts as |workout|}}
      <div id={{workout.id}}>
        {{workout.name}}
      </div>
    {{/each}}
  </div>
</div>

<script src="./js/user.js"></script>
{{!-- <div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Workout:</h3>
    <form class="workout">
     <div class="form-group">
        <label for="muscle-group">Choose a Muscle Group:</label>
        <select class="form-select" id="muscle-group" name="muscle-group">
          {{#each muscleGroup as |muscle|}}
            <option value={{muscle.id}}>{{muscle.name}}</option>
          {{/each}}
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Create Workout</button>
    </form>
  </div>
</div> --}}

{{!-- <script src="./js/user.js"></script> --}}