<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
    <h2>Stats: {{gender}}, {{age}}, Height:{{height}}, Weight:{{weight}} lbs</h2>
    <h2>BMR: {{BMR}}</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Workout:</h3>
    <form class="workout">
      <div class="form-group">
        <label for="muscle-group">Choose a Muscle Group:</label>
        <select class="form-select" id="muscle-group" name="muscle-group">
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Create Workout</button>
    </form>
  </div>

  {{#if selectedExercise}}
  <div class="col-md-6">
    <h3>Selected Exercise:</h3>
    <div class="card">
      <div class="card-body">
        <h4>{{selectedExercise.name}}</h4>
        <p>{{selectedExercise.gif}}</p>
        <p>{{selectedExercise.equipment}}</p>
        <p>{{selectedExercise.instructions}}</p>
        <p>Muscle Group: <span class="badge bg-primary">{{selectedExercise.muscleGroup}}</span></p>
        <button class="btn btn-primary add-exercise-btn">Add Exercise</button>
      </div>
    </div>
  </div>
  {{/if}}
</div>

<script src="../utils/calculateBMR.js"></script>
<script src="./js/user.js"></script>