{{#each exercise as |exercise| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{workout}}}
      <a href="/workout/{{workout.id}}">{{workout.name}}</a>
    </h2>
    <p>
        {{#list exercise}}
        {{exercise_id}}
        {{exercise_id}}
        {{exercise_id}}
        {{exercise_id}}
        {{exercise_id}}
        {{/list}}
    </p>
    <p>Created by {{user.name}} on {{format_date project.date_created}}</p>
  </div>
</div>


{{/each}}